<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <div id="outerContainer">
        <div class="form">
          
          <div id="name">
            <label for="name">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" placeholder="Input Your Name" value="">
          </div>
          <div id="email">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Input Your email" value="">
          </div>
          <div id="password">
            <label for="password">password</label>
            <input type="password" name="password" placeholder="Input Your password" value="">
          </div>
          <div id="button">
            <button type="submit">Submit</button>
          </div>
        </div>
    </div>
</body>
</html>